#apiRef_con{
    background-color: var(--onbg);
    width: 100%;
    height: 100%;
}

#apiRef_detail_con{
    height: auto;
    width: 100%;
    min-height: 100vh;
    padding: 6.5rem var(--largscale);
    
}


#apiRef_btn_con{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.apiRefBtn{
    font-family: "commissioner-bold";
}

   
@media only screen and (max-width:1000px) {
    #apiRef_detail_con{
        padding: 6.5rem var(--mediumscale);
        }

    
}




@media only screen and (max-width:720px) {

    #apiRef_detail_con{
        padding: 6.5rem var(--mediumscale);
        }

}


@media only screen and (max-width:550px) {

    #apiRef_detail_con{
        padding: 6.5rem var(--smallscale);
        }

}


@media only screen and (max-width:450px) {


}