@import "./styleLib.css";
@import "./button.css";
@import "./landingpage.css";
@import "./navbar.css";
@import "./footer.css";
@import "./banner.css";
@import "./recipeLinks.css";
@import "./navbarSmall.css";
@import "./recipeCard.css";
@import "./recipeDetail.css";
@import "./recipeDetailCard.css";
@import "./home..css";
@import "./about.css";
@import "./faq.css";
@import "./apiRef.css";
@import "./loading.css";
@import "./NotFound.css";

#root{
    width: 100%;
    position: relative;
    background-color: var(--onbg);
}

#app_con{
    background-color: var(--onbg);
    width: 100%;cursor: default;
}
a{text-decoration: none;color: inherit;}

.activeNavLink{
    color:rgba(48, 20, 0,1)    ;
    text-decoration: underline;
    font-family: "commissioner-semiBold";
  }

  .activeNavLink:hover::before{
    transform: translate(0, 0) scaleX(0);
  }
  .deActiveNavLink{
color:rgba(48, 20, 0,0.6)
  }



.green_middle_word{
    color: var(----tertiary-con);
}
.underline_middle_word{
    text-decoration: underline var(----tertiary-con);
}



::-webkit-scrollbar {
  width: 1px
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

