#navbar_small_con{
 position: absolute; 
 width: 100%;
 height: 100vh;
 background-color: var(--tertiary-con);
 color: var(--ontertiary-con);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#navbar_small_con>*{
    margin-bottom: 0.7rem;
}

.x_icon{
    fill: var(--ontertiary-con);
}

#navbar_smal_Xicon{
    position: absolute;
    top:5px;
    right:5px;
    cursor: pointer;
    
}