.recipeDetailCard_con{
    background-color: rgba(255, 220, 195,0.45);
    /* height: 40rem;   */
    border-radius: 18px;
    box-shadow: var(--shadow1dp);
    cursor: default;
    color: var(--onprimary-con);
    width: 100%;
}

.recipeDetailCard_top{
    width: 100%;
    
    display: flex;

}

.recipeDetailCard_top_Img{
width: 65%;
border-radius: 18px;
}

.recipeDetailCard_top_title{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 0rem 0.5rem 1rem;
}

.recipeDetailCard_top_title>*{
    width: 100%;
}

.recipeDetailCard_top_title_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.recipeDetailCard_top_title_mainTitle{
font: var(--headline3);
font-family: "Fraunces-Bold";
}

.recipeDetailCard_top_title_subTitle{
    font: var(--headline6);
    font-family: "commissioner-semiBold";
    color: rgba(48, 20, 0,0.5);
    padding-top: 1rem;
}

.recipeDetailCard_top_title_caption{
    font: var(--headline4);
    font-family: "Fraunces-semiBold";
    padding-top: 2.5rem;
}

.recipeDetailCard_top_title_tags_con{
display: flex;
width: 100%;
flex-wrap: wrap;
padding-top:5rem;
}

.recipeDetailCard_top_title_tags{
    font: var(--headline7);
    font-family: "commissioner-reg";
    opacity: 0.6;
    padding: 0rem 0.3rem ;
    line-height: 12px;
    

}

.recipeDetailCard_bottom{
    width: 100%;
    
display: flex;
padding: 0.5rem 1rem ;
}

.recipeDetailCard_bottom_material{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.recipeDetailCard_bottom_material_title{
    font: var(--headline3);
    font-family: "Fraunces-Bold";
    padding: 1rem 0rem;

}
.recipeDetailCard_bottom_material_con{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.recipeDetailCard_bottom_material_con_items{
display: grid;
grid-template-columns: auto auto;
grid-column-gap: 10px;
justify-content: space-between;
align-items: center;
padding: 0.5rem 0rem;

}

.recipeDetailCard_bottom_material_con_items_mat{
    font: var(--headline6);
    font-family: "commissioner-semiBold";

}
.recipeDetailCard_bottom_material_con_items_value{
    font: var(--headline7);
    font-family: "commissioner-semiBold";
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0.5rem;

}



.recipeDetailCard_bottom_recipe{
width: 50%;
}

.recipeDetailCard_bottom_recipe_title{
    font: var(--headline3);
    font-family: "Fraunces-Bold";
    padding: 1rem 0rem;
}

.recipeDetailCard_bottom_recipe_con{

}

.recipeDetailCard_bottom_recipe_con ul{
list-style-type: decimal;
}

.recipeDetailCard_bottom_recipe_con ul li{
    font: var(--headline6);
    font-family: "commissioner-semiBold";
    padding: 0.5rem 0rem;
}

.recipeDetailCard_bottom_recipe_btns{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    
}


#detailRecipeBtn_follow{
    padding: 8px 20px;
}
#detailRecipeBtn_goback{
    margin-right: 1rem;
    
}





@media only screen and (max-width:850px) {
    .recipeDetailCard_top{
        display: flex;
        flex-direction: column;
        height: 100%;
    
    }

    .recipeDetailCard_top_Img{
        width: 100%;
        height: 25rem;
        }
        
        .recipeDetailCard_top_title{
            width: 100%;
            border-bottom: 2px solid rgba(48, 20, 0,0.5);
        }
        .recipeDetailCard_bottom_recipe_btns{
            padding-top: 1.2rem;
        
            
        }
        

}

@media only screen and (max-width:730px) {
        /* .recipeDetailCard_top{
            display: flex;
            flex-direction: column;
            height: 100%;
        
        }

        .recipeDetailCard_top_Img{
            width: 100%;
            height: 20rem;
            }
            
            .recipeDetailCard_top_title{
                height: 35%;
            } */


            .recipeDetailCard_bottom{            
            display: flex;
            flex-direction: column;
            padding: 0.5rem 1rem;
            }
            .recipeDetailCard_bottom_material{
                padding-top: 1rem;
                width: 100%;

            }
            
            .recipeDetailCard_bottom_recipe{
            width: 100%;
            padding-top: 2rem;
            }
            .recipeDetailCard_bottom_material_con{
                display: flex;
                flex-direction: column;
                width: 100%;

            }
            .recipeDetailCard_bottom_recipe_con{
                padding:0rem 0rem 0rem 1rem;
            }
            
            .recipeDetailCard_bottom_recipe_con ul{
            list-style-type: decimal;
            }
            
            .recipeDetailCard_bottom_recipe_con ul li{
                font: var(--headline6);
                font-family: "commissioner-semiBold";
                padding: 0.7rem 0rem;
            }
}    

@media only screen and (max-width:450px) {

.recipeDetailCard_top_Img{
    height: 22rem;
    }
    #detailRecipeBtn_follow{
        padding: 8px 6px;
        font: var(--subhead3);
    }
    #detailRecipeBtn_goback{
        font: var(--subhead3);
        
    }
    .recipeDetailCard_bottom_recipe_btns{
       
    
        
    }
    
    

}